<?xml version="1.0"?>
<config>
    <modules>
        <Buyshop_Testimonial>
            <version>0.1.0</version>
        </Buyshop_Testimonial>
    </modules>
    <frontend>
        <routers>
            <testimonial>
                <use>standard</use>
                <args>
                    <module>Buyshop_Testimonial</module>
                    <frontName>testimonial</frontName>
                </args>
            </testimonial>
        </routers>
        <layout>
            <updates>
                <testimonial>
                    <file>testimonial.xml</file>
                </testimonial>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <testimonial>
                <class>Buyshop_Testimonial_Helper</class>
            </testimonial>
        </helpers>
        <blocks>
            <testimonial>
                <class>Buyshop_Testimonial_Block</class>
            </testimonial>
        </blocks>
        <models>
            <testimonial>
                <class>Buyshop_Testimonial_Model</class>
                <resourceModel>testimonial_mysql4</resourceModel>
            </testimonial>
            <testimonial_mysql4>
                <class>Buyshop_Testimonial_Model_Mysql4</class>
                <entities>		  
                    <testimonial>
                        <table>buyshop_testimonial</table>
                    </testimonial>
                </entities>
            </testimonial_mysql4>
        </models>
        <resources>
            <testimonial_setup>
                <setup>
                    <module>Buyshop_Testimonial</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </testimonial_setup>
            <testimonial_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </testimonial_write>
            <testimonial_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </testimonial_read>
        </resources>
        <events>
            <customer_login>
                <observers>
                    <change_customer_group>
                        <type>singleton</type>
                        <class>testimonial/observer</class>
                        <method>changeCustomerGroup</method>
                    </change_customer_group>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <revert_customer_group>
                        <type>singleton</type>
                        <class>testimonial/observer</class>
                        <method>revertCustomerGroup</method>
                    </revert_customer_group>
                </observers>
            </customer_logout> 
        </events>
    </global>
    <admin>
        <routers>
            <testimonial>
                <use>admin</use>
                <args>
                    <module>Buyshop_Testimonial</module>
                    <frontName>testimonial</frontName>
                </args>
            </testimonial>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <testimonial module="testimonial">
                <title>Buyshop Testimonial</title>
                <sort_order>100</sort_order>
                <children>
                    <testimonial module="testimonial">
                        <title>Manage Testimonial</title>
                        <sort_order>0</sort_order>
                        <action>testimonial/adminhtml_testimonial</action>
                    </testimonial>
                    <config module="testimonial">
                        <title>Configuration</title>
                        <sort_order>2</sort_order>
                        <action>adminhtml/system_config/edit/section/buyshop_testimonial</action>
                    </config>
                </children>
            </testimonial>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <testimonial translate="title" module="testimonial">
                            <title>Testimonial</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <testimonial translate="title">
                                    <title>Manage Testimonial</title>
                                    <sort_order>0</sort_order>
                                </testimonial>
                            </children>
                        </testimonial>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <testimonial>
                    <file>testimonial.xml</file>
                </testimonial>
            </updates>
        </layout>
    </adminhtml>
</config> 